@media (min-width: 768px) {
    #sidebar {
        position: fixed; 
        top: 0;
        bottom: 0;
        left: 0;
        height: 100vh; 
        overflow-y: auto; 
        z-index: 100; 
    }

    main {
        margin-left: 30%;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    padding: 10px 15px;
}

.sidebar .nav-link:hover {
    background-color: rgba(0, 123, 255, 0.3); /* azul semi-transparente */
    color: #ffc107 !important; /* amarillo brillante */
}